* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.navbar > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.cont-head {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.content > .cont-head > img {
  width: 100px;
  height: 100px;
}
.content > .cont-head > h1 {
  width: 550px;
  height: 150px;
  font-size: 70px;
  margin-top: 1rem;
}
.cont-img {
  flex: 0.4;
}
.cont-img > img {
  height: max-content;
  height: max-content;
}
.about {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.events {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
